{#
/**
 * @file
 * Theme override for the location field.
 *
 * Added marker icon
 *
 * To override output, copy the "field.html.twig" from the templates directory
 * to your theme's directory and customize it, just like customizing other
 * Drupal templates such as page.html.twig or node.html.twig.
 *
 * Instead of overriding the theming for all fields, you can also just override
 * theming for a subset of fields using
 * @link themeable Theme hook suggestions. @endlink For example,
 * here are some theme hook suggestions that can be used for a field_foo field
 * on an article node type:
 * - field--node--field-foo--article.html.twig
 * - field--node--field-foo.html.twig
 * - field--node--article.html.twig
 * - field--field-foo.html.twig
 * - field--text-with-summary.html.twig
 * - field.html.twig
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 *
 * @see template_preprocess_field()
 */
#}
{%
  set classes = [
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
    label_display == 'inline' ? 'clearfix',
  ]
%}
{%
  set title_classes = [
    'field__label',
    label_display == 'visually_hidden' ? 'visually-hidden',
  ]
%}

{% if label_hidden %}
  {% if multiple %}
    <div{{ attributes.addClass(classes, 'field__items') }}>
      {#<svg width="14" height="17" viewBox="0 0 14 17" xmlns="http://www.w3.org/2000/svg"><g transform="translate(.528 .369)" fill="none"><path d="M11.6083357,6.09710817 C11.6083357,9.11229318 5.80416786,15.6379215 5.80416786,15.6379215 C5.80416786,15.6379215 0,9.11229318 0,6.09710817 C0,3.08192315 2.59870111,0.637921526 5.80416786,0.637921526 C9.0096346,0.637921526 11.6083357,3.08192315 11.6083357,6.09710817 Z" fill="#F5333F"/><path d="M7.37049781,2.78421821 C5.65675134,2.78421821 4.26599813,4.16476152 4.26599813,5.86959754 C4.26599813,7.57443357 5.65675134,8.95497688 7.37049781,8.95497688 C9.08424429,8.95497688 10.4749975,7.57443357 10.4749975,5.86959754 C10.4749975,4.16476152 9.08424429,2.78421821 7.37049781,2.78421821 Z M7.37049781,3.78421821 C8.53360225,3.78421821 9.47499749,4.71870242 9.47499749,5.86959754 C9.47499749,7.02049267 8.53360225,7.95497688 7.37049781,7.95497688 C6.20739338,7.95497688 5.26599813,7.02049267 5.26599813,5.86959754 C5.26599813,4.71870242 6.20739338,3.78421821 7.37049781,3.78421821 Z" fill="#011E41"/><path d="M7.37049781,0 C4.05762118,0 1.37049781,2.66710195 1.37049781,5.95918664 C1.37049781,7.03729716 1.95220645,8.47974465 2.98778381,10.2361065 C3.34800986,10.8470577 3.75777974,11.4852721 4.20793002,12.1427551 C4.81602577,13.030931 5.46671083,13.9099691 6.1173622,14.7414021 L6.60025761,15.3492631 L6.9881789,15.8222301 L7.37049781,16.2758431 L7.92943691,15.6090312 L8.29480552,15.1573792 L8.62363343,14.7414021 C9.27428479,13.9099691 9.92496985,13.030931 10.5330656,12.1427551 C10.9832159,11.4852721 11.3929858,10.8470577 11.7532118,10.2361065 C12.7887892,8.47974465 13.3704978,7.03729716 13.3704978,5.95918664 C13.3704978,2.66710195 10.6833744,0 7.37049781,0 Z M7.37049781,1 C10.1327569,1 12.3704978,3.22106777 12.3704978,5.95918664 C12.3704978,6.80594394 11.8417532,8.11705793 10.8917975,9.7282036 C10.5438123,10.318394 10.1460299,10.937938 9.70793002,11.5778203 C9.11290077,12.4469115 8.47452333,13.3093227 7.8361122,14.1251145 L7.51369499,14.5329863 L7.37035098,14.7109727 L6.90488343,14.1251145 C6.26647229,13.3093227 5.62809485,12.4469115 5.0330656,11.5778203 C4.59496575,10.937938 4.19718331,10.318394 3.84919816,9.7282036 C2.89924241,8.11705793 2.37049781,6.80594394 2.37049781,5.95918664 C2.37049781,3.22106777 4.60823871,1 7.37049781,1 Z" fill="#011E41"/></g></svg>#}
      {% for item in items %}
        <div{{ item.attributes.addClass('field__item') }}>{{ item.content }}</div>
      {% endfor %}
    </div>
  {% else %}
    {% for item in items %}
      <div{{ attributes.addClass(classes, 'field__item') }}>
        <img src="/profiles/contrib/c2distro/themes/custom/c2d_theme/images/dist/svg/location.svg" alt="{{ 'Blue map marker icon'|t }}" width="23" height="23">
        {{ item.content }}
      </div>
    {% endfor %}
  {% endif %}
{% else %}
  <div{{ attributes.addClass(classes) }}>
    <div{{ title_attributes.addClass(title_classes) }}>{{ label }}</div>
    {% if multiple %}
      <div class="field__items">
        <img src="/profiles/contrib/c2distro/themes/custom/c2d_theme/images/dist/svg/location.svg" alt="{{ 'Blue map marker icon'|t }}" width="23" height="23">
    {% endif %}
    {% for item in items %}
      <div{{ item.attributes.addClass('field__item') }}>
        <img src="/profiles/contrib/c2distro/themes/custom/c2d_theme/images/dist/svg/location.svg" alt="{{ 'Blue map marker icon'|t }}" width="23" height="23">
        {{ item.content }}
      </div>
    {% endfor %}
    {% if multiple %}
      </div>
    {% endif %}
  </div>
{% endif %}
